body {
	background-color: #C0C0C0;
	font-family: "Times new roman";
	font-size: 1.5em;
}

h1 {
	background-color: #808080;
	margin: 20px;
	padding: 60px;
	padding-left: 40;
	margin-left: 0;
	
}

a {
	text-decoration: underline;
}
